.tableOrders {
    display: flex;
    justify-content: space-around;
}

.ordersTable {
    margin-top: 50px;
}

.tableOrders p {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Для телефонов */
@media only screen and (max-width: 480px) {
    form {
        margin: auto 0;
    }

    nav {
        display: flex;
        margin: 10px auto;
        width: 80%;
        font-size: 1.5rem;
    }

    .tableOrders {
        margin: 10px auto;
        width: 80%;
    }

    .offerOrderWindow {
        margin: 10px auto;
        width: 80%;
    }

    .block-header {
        font-size: 1.5rem;
        text-align: center;
    }

    .input-field {
        width: 80%;
        margin: 10px auto;
        font-size: 1rem;
    }

    .submit-button {
        display: block;
        margin: 20px auto;
        font-size: 1rem;
    }
}

/* Для планшетов */
@media only screen and (max-width: 768px) {
    .block-header {
        font-size: 2rem;
        text-align: center;
    }

    nav {
        width: 60%;
        margin: 10px auto;
        font-size: 1.5rem;
    }

    .tableOrders {
        margin: 10px auto;
        width: 60%;
    }

    .offerOrderWindow {
        width: 60%;
        margin: 10px auto;
    }

    .input-field {
        width: 60%;
        margin: 10px auto;
        font-size: 1.2rem;
    }

    .submit-button {
        display: block;
        margin: 20px auto;
        font-size: 1.2rem;
    }
}

/* Для ПК */
@media only screen and (min-width: 769px) {
    .block-header {
        font-size: 3rem;
        text-align: center;
    }

    nav {
        width: 50%;
        margin: 10px auto;
        font-size: 1.5rem;
    }

    .tableOrders {
        margin: 10px auto;
        width: 50%;
    }

    .offerOrderWindow {
        width: 50%;
        margin: 10px auto;
    }

    .input-field {
        width: 50%;
        margin: 10px auto;
        font-size: 1.5rem;
    }

    .submit-button {
        display: block;
        margin: 20px auto;
        font-size: 1.5rem;
    }
}