{% extends 'market/base.html' %}
{% load static %}

      <!-- ========== Home start ========== -->
{% block content %}
  <section class="home">
    <div class="container">
      <div class="home_content">
        <h1>Outtask есть - домашки нет</h1>
        <p>
         Приветствуем вас на сайте Outtask - бирже рефератов и контрольных работ для студентов!

Мы понимаем, что учеба может быть тяжелой и иногда
          нехватка времени  мешает успешно справляться с учебными заданиями.
          Именно поэтому мы создали Outtask - чтобы помочь студентам получить нужную
          помощь в написании рефератов, курсовых работ и прочих учебных заданий.

          Outtask - это не только возможность получить помощь, но и отличный способ заработать, если вы являетесь автором.     </p>
      </div>
      <div class="home_img">
        <img src="{% static 'market/img/students.jpg' %}" alt="students" />
      </div>
    </div>
  </section>
{% endblock%}
    <!-- ========== Home end ========== -->

