{% extends 'market/base.html' %}

{% load static %}

{% block content %}
    <head>
        <title>Мой сайт</title>
        <link rel="stylesheet" type="text/css" href="{% static 'market/css/market1.css' %}">
    </head>

    <form method="get" >
        {{ form.as_p }}
       <button type="submit" style="border: 1px solid black;">Фильтровать</button>
    </form>
    {% if user.is_authenticated%}
        <a href="{% url 'createoffer' %}">Создать заказ</a>
    {% endif%}
        <main>
            <div class="black-div">
                <div> Предмет</div>
                <div> Задание</div>
                <div> Цена</div>
                <div> Крайний срок</div>
            </div>

            {% csrf_token %}
            {% for offer in my_models %}
                <div class="white-div">
                    <div>
                        <p>{{ offer.subj }}</p>
                    </div>
                    <div>
                        <p>{{ offer.task }}</p>
                    </div>
                    <div>
                        <p>{{ offer.price }} руб.</p>
                    </div>
                     <div>
                        <p>{{ offer.deadline }}</p>
                    </div>
                    {% if user.is_authenticated%}
                     <div>
                         <form method="post" action="{% url 'addoffer' offer.pk %}">
                            {% csrf_token %}
                              <button type="submit"><img src="{% static 'market/img/dobavit.png' %}" alt="Добавить заказ" width="20" height="20"></button>
                          </form>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="pagination">
                <span class="step-links">
                    {% if my_models.has_previous %}
                        <a href="?page=1">&laquo; первая</a>
                        <a href="?page={{ my_models.previous_page_number }}">&lsaquo; предыдущая</a>
                    {% endif %}

                    <span class="current-page">
                        Страница {{ my_models.number }} из {{ my_models.paginator.num_pages }}.
                    </span>

                    {% if my_models.has_next %}
                        <a href="?page={{ my_models.next_page_number }}">следующая &rsaquo;</a>
                        <a href="?page={{ my_models.paginator.num_pages }}">последняя &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </main>
{% endblock%}