{% extends 'market/base.html' %}
{% load static %}

{% block content %}

 <head>
        <title>Мой сайт</title>
        <link rel="stylesheet" type="text/css" href="{% static 'market/css/market1.css' %}">
    </head>

<h2>Ваши заказы: </h2>
<style>
  table {
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    width: 80%;
  }
  th, td {
    border: 1px solid black;
    padding: 10px;
  }
  th {
    background-color: #222;
    color: white;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
</style>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Предмет</th>
      <th>Задание</th>
      <th>Цена</th>
      <th>Крайний срок</th>
    </tr>
  </thead>
  <tbody>
    {% csrf_token %}
    {% for offer in offers%}
    <tr>
      <td>{{ offer.pk }}</td>
      <td>{{ offer.subj }}</td>
      <td>{{ offer.task }}</td>
      <td>{{ offer.price }} руб.</td>
      <td>{{ offer.deadline }}</td>
      <td>
         <div>
                          <form method="post" action="{% url 'deleteoffer' offer.pk %}">
                            {% csrf_token %}
                              <button type="submit"><img src="{{ MEDIA_URL }}market/ubrat.png" alt="Добавить заказ" width="20" height="20"></button>
                          </form>
                    </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<style>
  h2 {
    text-align: center;
    white-space: nowrap;
  }
</style>
<div style="margin: 10px; padding: 10px;">
  <p></p>
</div>
<h2>Взятые вами заказы:</h2>
<style>
  table {
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    width: 80%;
  }
  th, td {
    border: 1px solid black;
    padding: 10px;
  }
  th {
    background-color: #222;
    color: white;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
</style>

<table>
  <thead>
    <tr>
      <th>Предмет</th>
      <th>Задание</th>
      <th>Цена</th>
      <th>Крайний срок</th>
      <th>Связаться</th>
    </tr>
  </thead>
  <tbody>
    {% csrf_token %}
    {% for offer in taken_offers %}
    <tr>
      <td>{{ offer.subj }}</td>
      <td>{{ offer.task }}</td>
      <td>{{ offer.price }} руб.</td>
      <td>{{ offer.deadline }}</td>
      <td>
        <div>
                        <a href="{{ offer.user.socnet_link }}">тык</a>
                    </div>
      </td>
      <td>
        <div>
                        <form method="post" action="{% url 'deleteorder' offer.pk %}">
                            {% csrf_token %}
                              <button type="submit"><img src="{{ MEDIA_URL }}market/ubrat.png" alt="Добавить заказ" width="20" height="20"></button>
                          </form>
                    </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div style="margin: 10px; padding: 10px;">
  <p></p>
</div>

<h2>Предложения исполнителей: </h2>
<style>
  table {
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    width: 80%;
  }
  th, td {
    border: 1px solid black;
    padding: 10px;
  }
  th {
    background-color: #222;
    color: white;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
</style>

<table>
  <thead>
    <tr>
      <th>ID заказа</th>
      <th>Исполнитель</th>
        <th>Связаться</th>

    </tr>
  </thead>
  <tbody>
    {% csrf_token %}
    {% for order in taken_orders %}
    <tr>
      <td>{{  order.offer.pk }}</td>
      <td>{{ order.user.username }} ({{  order.user.rating }})</td>
        {% if order.status != 2 %}
              <td>
        <div>
                        <a href="{% if order.user.socnet_link %}{{ order.user.socnet_link }}{% else %}#{% endif %}">тык</a>
                    </div>
        </td>
        {% else %}
         <td>    <div>
                         <form method="post" action="{% url 'like' order.pk %}">
                            {% csrf_token %}
                                <button type="submit"><img src="{{ MEDIA_URL }}users/like.png" alt="Добавить заказ" width="90" height="30"></button>
                             </form>
                     </div></td>
        {% endif %}
      {% if order.status == 0 %}
        <td> <div>
                           <form method="post" action="{% url 'give-order' order.pk %}">
                            {% csrf_token %}
                               <button type="submit"><img src="{{ MEDIA_URL }}users/give.png" alt="Добавить заказ" width="90" height="30"></button>
                          </form>
                        </div></td>
      <td> <div>
                         <form method="post" action="{% url 'refuse' order.pk %}">
                            {% csrf_token %}
                                <button type="submit"><img src="{{ MEDIA_URL }}users/no.png" alt="Добавить заказ" width="90" height="30"></button>
                             </form>
                     </div></td>
      {% endif %}
      {% if order.status == 1 %}
      <td> <div>
                           <form method="post" action="{% url 'ready' order.pk %}">
                            {% csrf_token %}
                               <button type="submit"><img src="{{ MEDIA_URL }}users/ready.png" alt="Добавить заказ" width="90" height="30"></button>
                          </form>
                        </div></td>
      <td> <div>
                         <form method="post" action="{% url 'not-ready' order.pk %}">
                            {% csrf_token %}
                                <button type="submit"><img src="{{ MEDIA_URL }}users/not_ready.png" alt="Добавить заказ" width="90" height="30"></button>
                             </form>
                     </div></td>


      {% endif %}
      {% if order.status == 2 %}
      <td>    <div>
                         <form method="post" action="{% url 'neutral' order.pk %}">
                            {% csrf_token %}
                                <button type="submit"><img src="{{ MEDIA_URL }}users/neutral.png" alt="Добавить заказ" width="90" height="30"></button>
                             </form>
                     </div></td>
      <td> <div>
                         <form method="post" action="{% url 'not-ready' order.pk %}">
                            {% csrf_token %}
                                <button type="submit"><img src="{{ MEDIA_URL }}users/dislike.png" alt="Добавить заказ" width="90" height="30"></button>
                             </form>
                     </div></td>
         {% endif %}
    {% endfor %}
      </tr>
  </tbody>
</table>
{% endblock%}