{% extends 'market/base.html' %}
{% load static %}

      <!-- ========== Home start ========== -->
{% block content %}
  <section class="home">
    <div class="container">
      <div class="home_content">
        <h1>Outtask есть - домашки нет</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti
          temporibus excepturi, illum a quas sapiente blanditiis dicta eaque
          explicabo, maxime quia cupiditate, amet dolores. Fuga eius facilis
          dolor earum incidunt!
        </p>
      </div>
      <div class="home_img">
        <img src="{% static 'market/img/students.jpg' %}" alt="students" />
      </div>
    </div>
  </section>
{% endblock%}
    <!-- ========== Home end ========== -->

