<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    {% block content %}
    <select>
        {% for option in unis %}
        <option>{{option.uni_name}}</option>
        {% endfor %}
    </select>
    <h2>Открытые предложения</h2>
    <table border="1">
        <tr>
          <th>Предмет</th>
          <th>Задание</th>
          <th>Цена</th>
        </tr>
      {% for offer in offers %}
        <tr>
          <td>{{ offer.subj}}</td>
          <td>{{ offer.task}}</td>
          <td>{{ offer.price}}</td>
        </tr>
      {% endfor %}
    {% endblock%}
    </table>
</body>
</html>

