{% extends 'market/base.html' %}


{% block content %}
   {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
     </ul>
    {% endif %}

<h1 style="background-color: #222; color: #fff;">Ваш email: {{ email }}</h1>
<h1 style="background-color: #222; color: #fff;">Ваш username : {{ username }}</h1>

<form method="post" style="background-color: #222; color: #fff;">
        {% csrf_token %}
         <div class="col-lg-6">
             <label class="small mb-1" for="{{ form.username.id_for_label }}">Изменить имя пользователя на </label>
             {{ form.username }}
             <button type="submit">Submit</button>
         </div>
  </form>


{% endblock%}